
.circles{
    background-color: white;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: animate  infinite;  
  animation-duration: 2s ;
  transition: all ease-in-out;
  position: fixed;
  top: 200px;
  right: 300px;
  bottom: 0px;
  left: 0px;
  margin: 2px;
  }
  @keyframes animate{
    
    0%{
        width: 0px;
        height: 0px;
     
    }
      50%{
        width: 50px;
        height: 50px;
       }

    100%{
        
        width: 0px;
        height: 0px;
     
    }
  }
  .fadein{
    
    opacity:0;
    transition:opacity 250ms ease-in;

  }
 .appear{
  opacity: 1;
 }

 .divhover{
color: transparent;
position: relative;
font-size: 30px;
border-radius: 0.5rem;
top: -160px;
bottom: 0px;
left: 0px;
right: 0px;
 }
 .divContainer{
  color: white;
 }
 .divContainer:hover .divhover{
  color:white;
  transition: all ease 0.7s;
  top: -145px;
  
background-color: black;
 }